@import "normalize.css";

body {
  margin: 8px;
}

a {
  text-decoration: none; /* removes link underlines  */
}

h1 a, h2 a, nav a {
  color: inherit;
}

.test, h1 {
  color: orange;
}

.test2 {
 display: none;
}
