/* Styles for DEMO PAGE */
/* Reset values */
@import "normalize.css";
h1, h2, p {
  margin: 0px;
  padding: 0px;
}
/* Set background and text */
html {
  background-color: #282828;
  color: #ddd;
  font-family: 'Montserrat';
  font-weight: 300;
}
/* Align all content center */
body {
  min-width: 400px;
  margin: 20px auto;
  padding: 20px 40px;
  text-align: center;
  border-radius: 8px;
  transition: all 0.2s ease-in-out;
}


/* remove link underlines  */
a {
 text-decoration: none;
}

/* needs to be in script.js */
hr {
  height: 2px;
  width: 20%;
  background-color: #444;
  border-radius: 2px;
  border: none;
}

.hr-dark {
  background-color: #2e2e2e;
  width: 60%;
}

.left {
  margin: 0 10px;
}

h1 {
  font-weight: 300;
  padding: 2px 20px;
  display: inline-block;
}

h2 {
  font-weight: 400;
  color: rgb(132, 240, 213);
  padding: 10px;
}

/* Removes link colour */
h1 a, h2 a, nav a {
  color: inherit;
}

.main-style  {
  padding: 20px 20px ;
  background-color: #2e2e2e;
  color: #ddd;
  border-radius: inherit;
  margin: inherit;
  max-width: 2200px;
}

.outer-container {
  min-width: 700px;
  max-width: 95%;
}

.input-row {
  text-align: left;
}

.input-row:last-child {
  margin-bottom: 20px;
}

textarea {
  min-width: 400px;
  min-height: 100px;
}

/* buttons */
input, button {
  color: #260225;
  border-width: 0;
  border-radius: 6px;
  padding: 10px;
  margin: 10px;
}

label {
  display:block;
  margin: 20px 10px 10px;
}

input[type="text"] {
  width: 200px;
  background-color:#e6eee0;
}

button {
  background-color:#c7ffec;
  width: 120px;
  cursor: pointer;
}

button:disabled {
  cursor: auto;
  opacity: 80%;
}

.special-button {
  box-shadow: 0 0 0 4px rgb(224, 114, 175);
}

.results {
  display: none;
}

